.select{
    -fx-max-width: 200px;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

.pane{
    -fx-background-color: black;
}

.select:pressed{
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.select:hover {
    -fx-effect: dropshadow(gaussian,  #C0C0C0, 15, 0.2, 0, 0);
}

.apolloButton{
    -fx-background-image: url("/Images/Gods/Apollo.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.apolloButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.artemisButton{
    -fx-background-image: url("/Images/Gods/Artemis.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.artemisButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.aresButton{
    -fx-background-image: url("/Images/Gods/Ares.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.aresButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.athenaButton{
    -fx-background-image: url("/Images/Gods/Athena.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.athenaButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.atlasButton{
    -fx-background-image: url("/Images/Gods/Atlas.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.atlasButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}


.chronusButton{
    -fx-background-image: url("/Images/Gods/Chronus.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.chronusButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.demeterButton{
    -fx-background-image: url("/Images/Gods/Demeter.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.demeterButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.hephaestusButton{
    -fx-background-image: url("/Images/Gods/Hephaestus.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.hephaestusButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}


.heraButton{
    -fx-background-image: url("/Images/Gods/Hera.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.heraButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.hermesButton{
    -fx-background-image: url("/Images/Gods/Hermes.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.hermesButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.hestiaButton{
    -fx-background-image: url("/Images/Gods/Hestia.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.hestiaButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.minotaurButton{
    -fx-background-image: url("/Images/Gods/Minotaur.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.minotaurButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.panButton{
    -fx-background-image: url("/Images/Gods/Pan.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.panButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}
.prometheusButton{
    -fx-background-image: url("/Images/Gods/Prometheus.png");
    -fx-background-size: 98px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.prometheusButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.zeusButton{
    -fx-background-image: url("/Images/Gods/Zeus.png");
    -fx-background-size: 85px 130px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.zeusButton:selected{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}


.bg_gods
{
    -fx-background-image: url("/Images/Backgrounds/SantoriniBoard.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#SelectButton {
    -fx-image: url("/Images/Backgrounds/SelectButton.png");
}