/*Fonts*/
@font-face {
    src: url("Fonts/Bangers.ttf");
}

.slider-container{+
    -fx-pref-width: 800px;
    -fx-pref-height: 600px;
    -fx-start-margin: auto;
    -fx-end-margin: auto;
}

.image-container{
    -fx-pref-width: 2400px;
    -fx-pref-height: 600px;
    -fx-position-shape: relative;
    -fx-translate-x: 20px;
}

.button:hover {
    -fx-effect: dropshadow(gaussian,  #0000FF, 15, 0.2, 0, 0);
}

.button:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.button{
    -fx-max-width: 200px;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

.select{
    -fx-max-width: 200px;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

.pane{
    -fx-background-color: black;
}

.select:pressed{
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.select:hover {
    -fx-effect: dropshadow(gaussian,  #C0C0C0, 15, 0.2, 0, 0);
}

.usernameBox {
    -fx-font-size: 12px;
    -fx-font-fill: #FFFFFF;

}

.text{
    -fx-font-family: "Bangers";
    -fx-font-size: 50px;
}

.bg_welcome{
    -fx-background-image: url("/Images/Backgrounds/bbgg2.png");
    -fx-background-size: contain;
    -fx-background-repeat: repeat;
    -fx-background-position: center;
}

.bg_lobby{
    -fx-background-image: url("/Images/Backgrounds/LobbyBackg.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.bg_gods
{
    -fx-background-image: url("/Images/Backgrounds/BgGods.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.gods:pressed{
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.gods:hover {
    -fx-effect: dropshadow(gaussian,  #D4AF37, 30, 0.5, 0, 0);
}

.select{
    -fx-max-width: 200px;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}


.board{

    -fx-background-image: url("/Images/Backgrounds/SantoriniBoard.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.twoPlayerButton{
    -fx-background-image: url("/Images/Backgrounds/2players.png");
    -fx-background-size: 250px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.twoPlayerButton:pressed{
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.threePlayerButton{
    -fx-background-image: url("/Images/Backgrounds/3players.png");
    -fx-background-size: 250px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
.threePlayerButton:pressed{
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}










